<h1>Mis Cursos</h1>
<br>
<br>
<h2>Disponibles</h2>
<%= link_to 'Disponibles', controller: "course_users", action: "show_disp" %>
<br>
<h2>Actuales</h2>
<%= link_to 'Actuales', controller: "course_users", action: "show_act" %>
<br>
<h2>Historial</h2>
<%= link_to 'Historial', controller: "course_users", action: "show_hist" %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'Regresar', root_path %>
